.header-name {
  font-size: 60px;
  margin-top: 30px;
  color: #dc72b5;
  font-family: "Chivo", sans-serif;
  font-weight: 760;
}


.header-bar {
  height: 2px;
  color: #000000;
  background-color: #000000;
  margin-top: 30px;
  width: 100%;
}



.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 5px 0;
}

.nav a {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav a:hover {
  color: rgb(137, 137, 137);
}


section {
  min-height: 100vh;
  padding: 80px 40px;
  color: #e8e6e6
}

.headshot {

  margin-top: 100px;
  z-index: 3;
  width: 35%;
  min-width: 120px;
  max-width: 700px;
  object-fit: cover;
  flex-shrink: 0;
}


.about-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  margin-left: 10%;

}

.about-text-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 100px;
  margin-right: 2%;
}

.about-text-header {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 35px;
  line-height: 1.7;
  text-align: right;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin: 0;
}

.about-text-body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 15px;
  line-height: 1.7;
  text-align: right;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin: 0;
}


@media (max-width: 600px) {
  .about-row {
    flex-direction: column;
  }

  .headshot {
    width: 50%;
  }
}